<div class="content-wrapper">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="">Guac-a-mole!</a>

    <ul class="navbar-nav mr-auto">
    </ul>

    <span class="navbar-text" style="color: aliceblue;">
      Anson Arroyo
    </span>

  </nav>

  <button class="btn btn-primary ml-4 my-4" (click)=toggleDisplay()>Mole</button>

  <table border="1" style="margin-left: auto; margin-right: auto;">
    <tbody>
      <tr>
        <td>
          <div *ngIf="!isShow">
            <app-guacamole></app-guacamole>
          </div>
          <button class="btn btn-secondary" (mouseover)=toggleDisplay1()>Mole</button>
        </td>
        <td>
          <div *ngIf="!isShow2">
            <app-guacamole></app-guacamole>
          </div>
          <button class="btn btn-secondary" (mouseover)=toggleDisplay2()>Mole</button>
        </td>
        <td>
          <div *ngIf="!isShow3">
            <app-guacamole></app-guacamole>
          </div>
          <button class="btn btn-secondary" (mouseover)=toggleDisplay3()>Mole</button>
        </td>
      </tr>
      <tr>
        <td>
          <div *ngIf="!isShow4">
            <app-guacamole></app-guacamole>
          </div>
          <button class="btn btn-secondary" (mouseover)=toggleDisplay4()>Mole</button>
        </td>
        <td>
          <div *ngIf="!isShow5">
            <app-guacamole></app-guacamole>
          </div>
          <button class="btn btn-secondary" (mouseover)=toggleDisplay5()>Mole</button>
        </td>
        <td>
          <div *ngIf="!isShow6">
            <app-guacamole></app-guacamole>
          </div>
          <button class="btn btn-secondary" (mouseover)=toggleDisplay6()>Mole</button>
        </td>
      </tr>
    </tbody>
  </table>


  <router-outlet></router-outlet>
</div>